
<li ng-repeat="x in lstregisteredUsers track by $index">
    <a>
        <i class="menu-icon fa fa-user"></i>
        <span class="menu-text">
            {{x.fullName}}
        </span>
    </a>
</li>