@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using KnowCostWeb.Extensions




@if (Request.IsAuthenticated)
{
    <form id="logoutForm" action="~/Account/LogOff" method="post" class="hide">@Html.AntiForgeryToken()</form>
    <li class="light-blue dropdown-modal dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="false">
            <img class="nav-user-photo" src="~/assets/images/avatars/user.jpg" alt="Jason's Photo">
            <span class="user-info">
                <small>Welcome,</small>
                @User.Identity.GetFirstName()
            </span>
            <i class="ace-icon fa fa-caret-down"></i>
        </a>
        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                <a href="#">
                    <i class="ace-icon fa fa-cog"></i>
                    Settings
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <i class="ace-icon fa fa-user"></i>
                    Profile
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="ace-icon fa fa-power-off"></i>
                    Logout
                </a>
            </li>
        </ul>
    </li>
}
