@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/Chat.css" rel="stylesheet" />
<link href="~/Content/css/PrivateChat.css" rel="stylesheet" />
<div class="row">&nbsp;</div>

<div  ng-controller="ChatController " ng-init="init();">
    <input type="hidden" value="@User.Identity.Name" ng-model="name" id="hdnUserName" />
    <input type="hidden" value="@User.Identity.GetUserId()" ng-model="name" id="hdnUserId" />
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul class="media-list chat"  id="userList">
                        <li class="media"  ng-repeat="x in OnlineUsers track by $index" >
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png">
                                    </a>
                                    <div class="media-body" >
                                        <h5><a ng-click="openInPrivate(x.UserName,x.Email)">{{x.UserName}}</a></h5>
                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>
                            </div>
                        </li >
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-collapse collapse out" id="collapseOne" style="display:block">
                    <div class="panel-body">
                        <ul class="chat">
                            <li ng-class="{'right clearfix': msg.email==email,'left clearfix':msg.email!=email}"  ng-repeat="msg in messages track by $index">
                                <span  ng-class="{'chat-img pull-right': msg.email==email,'chat-img pull-left':msg.email!=email}">
                                    <img ng-if="msg.email!=email" src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                    <img ng-if="msg.email==email" src="http://placehold.it/50/55C1E7/fff&text=Me" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" ng-class="{'pull-right primary-font': msg.email==email,'primary-font':msg.email!=email}">{{msg.username}}</strong>
                                         <small  ng-class="{'text-muted': msg.email==email,'pull-right text-muted':msg.email!=email}">
                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                      {{msg.message}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" ng-model="groupMsg" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendGroupMsg()">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>


    @*id="qnimate" style="display:block"*@
    <div class="popup-box chat-popup privateChatBox"  ng-show="showPrivateBox" style="display:block">
        <div class="popup-head">
            <div class="popup-head-left pull-left" style="width:180px;overflow-x:hidden"><span ng-model="chatName">{{chatName}}</span></div>
            <div class="popup-head-right pull-right">
                <div class="btn-group">
                    <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu pull-right">
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Block</a></li>
                        <li><a href="#">Clear Chat</a></li>
                        <li><a href="#">Email Chat</a></li>
                    </ul>
                </div>
                <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
            </div>
        </div>
        <div class="popup-messages">
            <div class="direct-chat-messages">
                <div class="chat-box-single-line">
                    <abbr class="timestamp">October 8th, 2015</abbr>
                </div>
                <div class="direct-chat-msg doted-border">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Osahan</span>
                    </div>
                    <img alt="message user image" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Hey bro, how’s everything going ?
                    </div>
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                    </div>
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-img-reply-small pull-left">
                        </span>
                        <span class="direct-chat-reply-name">Singh</span>
                    </div>
                </div>
                <div class="chat-box-single-line">
                    <abbr class="timestamp">October 9th, 2015</abbr>
                </div>
                <div class="direct-chat-msg doted-border">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Osahan</span>
                    </div>
                    <img alt="iamgurdeeposahan" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Hey bro, how’s everything going ?
                    </div>
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                    </div>
                    <div class="direct-chat-info clearfix">
                        <img alt="iamgurdeeposahan" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img big-round">
                        <span class="direct-chat-reply-name">Singh</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-messages-footer">
            <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
            <div class="btn-footer">
                <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
                <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
                <button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i> </button>
                <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
            </div>
        </div>

    </div>


    
</div>